#aboutText {
  margin-top: 1em;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 1fr;
}

#aboutContents {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

#aboutTitle {
  font-family: "Proxima Nova ScOsf";
}

#aboutParagraph {
  font-family: "Proxima Nova Light";
  font-size: 1em;
  text-align: left;
  width: 80%;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
}

#aboutPhotoContainer {
  display: flex;
  align-items: center;
}

#aboutPhoto {
  width: 100%;
  z-index: 3;
  margin: auto;
}