#aboutText {
  display: grid;
  grid-template-columns: 1fr;
}

#aboutContents {
  text-align: center;
  padding: 5%;
}

#aboutTitle {
  font-family: "Questrial";
}

#aboutParagraph {
  font-family: "Roboto Light";
  font-size: 1.2em;
  text-align: justify;
  width: 40%;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
}
