@font-face {
  src: url("../fonts/Questrial.ttf");
  font-family: Questrial;
}

@font-face {
  src: url("../fonts/Roboto.ttf");
  font-family: Roboto;
}

@font-face {
  src: url("../fonts/Proxima Nova Light.otf");
  font-family: "Proxima Nova Light";
}

@font-face {
  src: url("../fonts/Proxima Nova ScOsf Light.otf");
  font-family: "Proxima Nova ScOsf Light";
}

@font-face {
  src: url("../fonts/Proxima Nova ScOsf Thin.ttf");
  font-family: "Proxima Nova ScOsf Thin";
}

@font-face {
  src: url("../fonts/Proxima Nova ScOsf.otf");
  font-family: "Proxima Nova ScOsf";
}

@font-face {
  src: url("../fonts/Proxima Nova Thin.ttf");
  font-family: "Proxima Nova Thin";
}

@font-face {
  src: url("../fonts/Proxima Nova.otf");
  font-family: "Proxima Nova";
}

@keyframes intro {
  0% {
      margin-top: 100vh;
      opacity:0;
  }
  60% {
      margin-top: -5vh;
  }
  80% {
      margin-top: 5vh;
  }
  100% {
      margin-top: 0vh;
      opacity: 1;
  }
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

footer {
  font-family: "Roboto Light";
  background: #000a12;
  padding: 0.5em;
  color: white;
  text-align: center;
}