#portfolio {
  background: #263238;
  padding: 1%;
  padding-top: 0.5%;
  font-family: "Proxima Nova ScOsf";
}

#portfolioHeading {
  color: white;
  padding-left: 2em;
}

#portfolioProjects {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.card-title {
  font-family: "Proxima Nova";
}

.card-subtitle {
  font-family: "Roboto Light";
}

.card-text {
  text-align: left;
  font-family: "Roboto Light";
}

.card-link {
  font-family: "Roboto Light";
}

.card-img {
  height: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.card-img * {
  max-width: 100%;
  max-height: 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23555' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23555' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.card img {
  margin-bottom: 1em;
  border: solid black 1px;
}