#portfolio {
  background: #263238;
  padding: 1%;
  font-family: "Proxima Nova ScOsf";
}

#portfolioHeading {
  color: white;
  padding-left: 2em;
}

#portfolioProjects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.card-title {
  font-family: "Proxima Nova"
}

.card-text {
  text-align: left;
  font-family: "Roboto Light"
}